.canvas {
    width: 500px;
    height: 600px;
    padding: 1px;
  }
  
  span {
    font-size: 20px;
  }
  
  .frame {
    width: 500px;
    padding: 50px;
    margin: 20px auto;
  }
  
  .one {
    width: 500px;
    height: 150px;
    margin: 20px auto;
  }
  
  .two {
    width: 575;
    height: 200px;
    margin: 0px auto 20px;
  }
  
  .three {
    width: 91%;
    height: 27%;
    margin: auto;
    filter: blur(2px);
    border-radius: 30px 60px 60px 12px;
  }
